:root {
    --primary-color: #5f6272;
    --accent1-color: #eee;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--primary-color);
    padding: 10px 20px;
}

.logo img {
    border: 1px solid #000;
    width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

nav a {
    padding: 5px 10px;
    border: 1px solid #000;
    text-decoration: none;
    background-color: #eee;
    color: #000;
}

h1 {
    display: flex;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.heading {
    display: flex;
    justify-content: center;
}

form {
    padding: 1rem;
}

.form {
    display: grid;
    grid-template-rows: auto;
}

.labels {
    display: flex;
    align-items: flex-end;
}

.select {
    display: flex;
    flex-direction: column;

}

.message {}

input,
textarea,
button {
    margin-left: 1rem;
    padding: 0.50rem;
    width: 300px;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

button {
    margin: 1rem;
    background-color: blue;
    color: #eee;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(105, 105, 161);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: var(--primary-color);
}