:root {
    --primary-color: #6a596b;
    --accent1-color: #1634b9;
    --accent2-color: #e9c46a;
    --heading-front: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, san-serif;

}

header {
    text-decoration: rgb(233 196 106);
    background-color: rgb(106 89 107);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: o auto;
    position: fixed;
}

h1,
h2 {
    font-family: var(--heading-front);
    text-decoration: rgb(106 89 107);
    color: var(--primary-color);
    background-color: rgb(22 52 185);
    padding: 16px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    border: 0px;
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
}