nav {
    background-color: #eee;
    padding: auto;
}

nav a {
    color: #333;
    padding: auto;
    display: block;
}

main {
    max-width: 840px;
}

h1 {
    color: #000;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(000 / 0.2);
    /*1️⃣*/
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: #333;
    padding: auto;
}

main img {
    width: 200px;
    height: auto;
    border: #000;
    padding: auto;
    box-shadow: #eee;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}