* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff;
    padding: 0.5rem;
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
}

main {
    max-width: 840px;
}

h1 {
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0);
    /*1️⃣*/
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside h2 {
    position: absolute;
}

aside img {
    width: 200px;
    height: auto;
    border: #333;
}

main img {
    float: right;
}

p {
    padding: 0;
}

.grid header,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/*Class Selector*/

.box {
    margin: 1rem;
    padding: 1rem;
    background-attachment: #ddd;
    color: #333;

}