* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #eee;
    padding: 0;
}

nav a {
    color: #333;
    padding: 0;
    display: block;
}

main {
    max-width: 840px;
}

h1 {
    color: #000;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0);
    /*1️⃣*/
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside h2 {
    position: absolute;
}

aside img {
    width: 200px;
    height: auto;
    border: #333;
}

main img {
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selector*/

.box {
    margin: 1rem;
    padding: 1rem;
    background-attachment: #ddd;
    color: #333;

}